.nav-container {
  display: flex;
}

.nav-content {
  background-color: var(--primaryBlack); /* Black */
  height: 100vh;
  padding: 2rem;
  position: relative;
  transition-duration: 300ms;
}

.nav-toggle {
  position: absolute;
  right: -1rem;
  top: 1rem;
  width: 1.75rem;
  cursor: pointer;
}

.nav-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
  transition-duration: 500ms;
}

.nav-title {
  color: var(--primaryWhite); /* White */
  font-size: 1.25rem;
  font-weight: 500;
  transition-duration: 200ms;
}

.nav-title-hidden {
  transform: scale(0);
}

.nav-list {
  padding-top: 1.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 200ms;
}

.nav-item-active {
  background-color: var(--primaryGray); /* Gray */
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--lightGray); /* Light Gray */
  text-decoration: none;
}

.nav-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nav-text {
  transition-duration: 200ms;
}

.nav-text-hidden {
  display: none;
}
