@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryOrange: #fa8300; /* Orange */
  --lightGray: #e0e0e0; /* Light Gray */
  --primaryGray: #5c5c5c; /* Gray */
  --primaryBlack: #000000; /* Black */
  --primaryBlue: #2b49f5; /* Blue */
}

@layer utilities {
  .hover-bg-primaryOrange:hover {
    background-color: var(--primaryOrange);
  }
  .mt-12 {
    margin-top: 3rem;
  }
}

@layer components {
  .input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: var(--primaryBlack);
    background-color: var(--lightGray);
    border: 1px solid var(--primaryGray);
    border-radius: 0.25rem;
    transition-property: border-color, background-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    appearance: none;
  }

  .input:hover {
    border-color: var(--primaryBlue);
  }

  .input:focus {
    outline: 0;
    border-color: var(--primaryBlue);
  }

  .input.dark {
    background-color: var(--primaryGray);
    border-color: var(--primaryBlack);
    color: var(--lightGray);
  }

  .button {
    background-color: var(--primaryBlue);
    color: var(--lightGray);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
  }

  .button:hover {
    background-color: var(--primaryOrange);
  }

  .svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
  }
}
