@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryGray: #6e6e80;
  --primaryBlack: #111827;
  --primaryWhite: #ffffff;
  --lightGray: #d1d5db;
  --primaryBlue: #3b82f6;
  --primaryOrange: #f97316;
  --primaryGreen: #10b981;
  --primaryDarkGray: #4b5563;
  --primaryGrayLight: #d3dce6;
  --secondarywhite: #f3f4f6;
}

@layer components {
  .history,
  .enrollment,
  .reports,
  .perference {
    width: 80%;
    padding: 2%;
    padding-left: 4%;
    margin-top: 50px;
  }

  .header-container,
  .enrollment-header,
  .reports-header {
    background-color: var(--secondarywhite);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 50%;
  }

  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    width: 100%;
    text-align: center;
    color: var(--primaryBlack);
  }
  .form-container,
  .dashboard-container,
  .enrollment-dashboard,
  .reports-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    width: 100%;
    background-color: var(--primaryWhite);
    padding: 1rem;
  }

  .input-container,
  .dropdown-container {
    width: 80%;
  }

  .dropdown {
    width: 20%;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--lightGray);
    color: var(--primaryBlack);
    cursor: pointer;
  }

  .input,
  .search-input {
    width: 100%;
    padding: 1rem;
  }

  .input:hover,
  .dropdown:hover {
    border: 1px solid var(--primaryOrange);
  }

  .button {
    background-color: var(--primaryBlue);
    color: var(--primaryWhite);
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
  }

  .button:hover {
    background-color: var(--primaryOrange);
  }
  .dashboard-header {
    background-color: #3b82f6; /* Adjust color as needed */
    color: #ffffff; /* Adjust color as needed */
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-header img {
    width: 30px; /* Adjust size as needed */
    height: 30px;
  }

  .dashboard-header select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #d1d5db; /* Adjust color as needed */
  }

  .dashboard-header-icon {
    width: 2rem;
    height: 2rem;
  }

  .dashboard-header-dropdown {
    width: 50%;
  }

  .dashboard-alert {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f97316;
    color: #ffffff;
  }

  .dashboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--lightGray);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }

  .dashboard-item-info {
    display: flex;
    flex-direction: column;
  }

  .dashboard-item-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primaryBlack);
  }

  .dashboard-item-description {
    font-size: 1rem;
    color: var(--primaryGray);
  }

  .dashboard-item-toggle {
    position: relative;
  }

  .table-container {
    overflow-x: auto;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-header {
    background-color: var(--lightGray);
  }

  .table-header-cell,
  .table-cell {
    padding: 0.5rem;
    color: var(--primaryBlack);
  }

  .table-row {
    border-top: 1px solid var(--lightGray);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .nav-container {
    transition: width 0.3s; /* Add a transition for the width change */
  }

  .nav-container.open {
    width: 25.5rem; /* Adjust the width of the navbar when it's open */
  }

  .nav-content {
    background-color: #6e6e80; /* Change the color of the navbar to gray */
    height: 100vh;
    padding: 2rem;
    position: relative;
    transition-duration: 300ms;
    color: var(--primaryBlack); /* Make the text color black */
    border-right: 1px solid var(--primaryOrange); /* Add a vertical orange line on the right */
  }

  .nav-toggle {
    position: absolute;
    right: -1rem;
    top: 1rem;
    width: 1.75rem;
    cursor: pointer;
  }

  .nav-header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-logo {
    cursor: pointer;
    transition-duration: 500ms;
  }

  .nav-title {
    color: var(--primaryBlack);
    font-size: 1.25rem;
    font-weight: 500;
    transition-duration: 200ms;
  }

  .nav-title-hidden {
    transform: scale(0);
  }

  .nav-list {
    padding-top: 1.5rem;
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: 200ms;
    margin-bottom: 1rem; /* Add spacing between nav items */
  }

  .nav-item-active {
    background-color: var(--primaryOrange);
    color: var(--primaryBlack);
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primaryBlack);
    text-decoration: none;
  }

  .nav-icon {
    width: 1.75rem;
    height: 1.75rem;
    transition: all 0.3s; /* Add a transition for the size change */
  }

  .nav-text {
    font-size: 1.25rem;
    transition-duration: 200ms;
  }

  .nav-text-hidden {
    display: none;
  }

  .nav-container.open .nav-icon {
    width: 2.25rem; /* Increase the size of the icons when the navbar is open */
    height: 2.25rem;
  }

  .nav-container.open .nav-text {
    font-size: 1.5rem; /* Increase the size of the text when the navbar is open */
  }

  .card {
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    padding: 1.5rem 1.875rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .card-large {
    /* add styles for large cards */
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    padding: 1.5rem 1.875rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .card-small {
    /* additional styles for small cards */
  }

  .card-icon {
    display: flex;
    height: 2.875rem;
    width: 2.875rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f3f4f6;
  }

  .card-content {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1f2937;
  }

  .card-subtitle {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .card-percentage {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #64748b;
  }

  .reports {
    width: 80%;
    padding: 2%;
    padding-left: 4%;
    margin-top: 50px;
  }

  .perference {
    width: 80%;
    padding: 2%;
    padding-left: 4%;
    margin-top: 50px;
  }

  .reports-header,
  .perference-header {
    background-color: var(--secondarywhite);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }

  .reports-dashboard,
  .perference-dashboard {
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondarywhite);
  }
}
